[submodule "lottery-foundry/lib/forge-std"]
	path = lottery-foundry/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lottery-foundry/lib/openzeppelin-contracts"]
	path = lottery-foundry/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lottery-foundry/lib/chainlink"]
	path = lottery-foundry/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
